[Desktop Entry]
Name=LDAP Phonebook (Go)
Comment=GUI for LDAP phone directory
Exec=ldap-phonebook-go
Icon=system-users
Terminal=false
Type=Application
Categories=Utility;Office;
StartupWMClass=ldap-phonebook-go
